<button (click)="initNewHero()">Click add a new Hero!</button>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Place</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes" (click)="onSelect(hero)" style="cursor: pointer;">
      <td>{{hero.id}}</td>
      <td>{{hero.name}}</td>
      <td>{{hero.firstName}}</td>
      <td>{{hero.lastName}}</td>
      <td>{{hero.place}}</td>
      <td><button (click)="editHero(hero)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-hero [hero]="selectedHero" (heroesUpdated)="updateHeroesList($event)"></app-edit-hero>